
<div *ngIf="!invalidProduct; else invalid">
  <h2>{{ product.name }}</h2>
  <img src="{{ product.image_path }}" alt="Product image" width="300" height="200">

  <table>
    <tr>
      <th>Description</th>
      <td class="description">{{ product.description }}</td>
    </tr>

    <tr>
      <th>Variance</th>
    </tr>
    <tr *ngFor="let variance of product.product_variance_list">
      <th>{{ variance.info }} </th>
      <td>{{ variance.price | number:'1.0-0' }} </td>
    </tr>
  </table>
  <button (click)="goBack()">Back</button>
</div>

<ng-template #invalid>
  <p style="color: red;
      font-size: 50px;
      position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);">Invalid Product ID</p>
  <button (click)="goBack()"
          style="
      position: fixed;
top: 90%;
left: 90%;
transform: translate(-50%, -50%);"
          >Back</button>
</ng-template>


