table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  /*background-color: #f2f2f2;*/
  /*font-weight: bold;*/
}

tr:nth-child(even) {
  /*background-color: #f9f9f9;*/
}

tr:hover {
  /*background-color: #f1f1f1;*/
}

/* styles.css */
body, nav.p, div,
h1, h2, h3, h4, h5, h6, p, span, a, button, input, select, textarea {
  font-family: Calibri, sans-serif; /* Fallback to sans-serif if Calibri is unavailable */
}
