<div class="sign-in-container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <p>Reset Password</p>

    <div class="form-group">
      <div class="input-with-icon">
        <input type="text" formControlName="username" placeholder="UserName" class="form-control" />
        <i class="fas fa-envelope"></i>
      </div>
      <div *ngIf="resetPasswordForm.controls.username.invalid && resetPasswordForm.controls.username.touched" class="error">
        Username is required
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <a href="Login" class="forgot-password">Back to login</a>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
</form>
</div>
