<div class="sign-in-container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h2>Reset Password</h2>

    <div class="form-group">
      <input type="text" formControlName="username" placeholder="UserName" class="form-control" />
      <div *ngIf="resetPasswordForm.controls.username.invalid && resetPasswordForm.controls.username.touched" class="error">
        Username is required
      </div>
    </div>
    <a routerLink="Login" class="forgot-password">Back to login</a>

    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>
